footer {
	padding: 30px;
	background: $azul;
	color: $blanco;
	.back-to-top {
		padding: 10px;
		border-radius: 100%;
		position: fixed;
		right: 0;
		bottom: 0;
		font-size: 30px;
		cursor: pointer;
		line-height: 30px;
		color: $negro1;
		opacity: 20%;
	}
}
.back-hide {
	display: none;
}