.contacto {
	color: $texto;
	form {
		input {
			background: $blancoBG;
			padding: 10px;
			border: 0;
			border-bottom: 2px solid $texto;
			font-size: 14px;
			color: $texto;
			margin-bottom: 20px;
			&:focus {
				border-bottom: 2px solid $red;
			}
			&.nombre-email {
				width: 45%;
			}
			&.asunto {
				width: 100%;
			}
		}
		textarea {
			padding: 10px;
			font-size: 14px;
			color: $texto;
			background: $blancoBG;
			width: 100%;
			height: 200px;
			min-height: 200px;
			max-height: 350px;
			border: none;
		}
		button {
			width: 100%;
			background-color: transparent;
		}
	}
	.body-contacto {
		.redes-general {
			margin-top: 20px;
			a {
				color: $texto;
				&:hover {
					color: $red;
				}
			}
		}
	}
	.map {
		height: 400px;
	}
	@media screen and (max-width: 768px) {
		form {
			.form-group {
				display: block !important;
				input {
					&.nombre-email {
						width: 100%;
					}
				}
			}
		}
	}
}
